:root {
    --primary-color: #4070f4;
    --secondary-color: #1BCFB4;
    --support-1: #4BCBEB;
    --support-2: #FE9496;
    --support-3: #9E58FF;
    --white: #fff;
    --text-1: #333;
    --gradient-1: linear-gradient(90deg, rgba(254,148,150,1) 0%, rgba(255,0,87,1) 100%);
    --gradient-2: linear-gradient(-90deg, rgba(28, 130, 231, 0.772) 0%, rgb(39, 54, 223) 100%);
    --gradient-3: linear-gradient(90deg, rgba(78,255,228,1) 0%, rgba(0,139,109,1) 100%);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins",sans-serif;
}
body{
    background-color: #DEE3E7;
    /* overflow-x: hidden; */
}
.navbar{
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 4rem;
    padding: 1.5rem;
    align-items: center;
    gap: 2rem;
    color: var(--text-1);
    background-color:var(--white);
    display: flex;
}
.navbar h1{
    font-size: 2rem;
    font-weight: 520;
    line-height: 1.5rem;
}
.navbar i{
    font-size: 25px;
    display: none;
}

.navlist{
    text-transform: capitalize;
    cursor: pointer;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.navlist li:hover{
    transform: scale(1.2);
    font-weight: 500;
    border-bottom: 1px solid var(--text-1);
}
.first-page{
    width: 100%;
    height: calc(100vh);
    background: var(--gradient-2);
      /* background-image: linear-gradient(to bottom, #1b5789 50%, #259ed6 50%); */
      background-size: 100% 50px;  
    display: flex;
    align-items: center;
    justify-content: center;
}
.mainheading{
    color: var(--white);
    text-align: center;
    font-size: 5rem;
    line-height: 1.5rem;
    font-weight: 550;
    display: flex;
    gap: 20px;
    text-transform: capitalize;
}
.mainheading span{
    font-size: 7rem;
}
@media screen and (max-width:965px) {
    .mainheading {
        flex-direction: column;
        font-size: 3rem;
    }
    .mainheading span{
        margin-top: 10px;
        font-size: 4rem;
    }
    .navlist{
        visibility: hidden;
    }
    .cards{
        gap: 30px;
    }
    .navbar i{
        display: block;
    }
}
.navlist a{
    text-decoration: none;
    color: var(--text-1);
}
.head-dashboard{
    display: flex;
    gap: 1.5rem;
    border-bottom: 2px solid black;
    width: 100%;
    padding: 10px 0;
}
#tach1{
    font-size: 30px;
}
.dashboard-inner{
    padding: 1.5rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    background: white;
    padding:  15px;
    gap: 1.5rem;
    text-transform: capitalize;
    align-items: center;
    margin-bottom: 15px;
}
.dashboard-inner i{
    color: #4070f4;
    font-size: 1.5rem;
}
.cards{
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 40px 20px;
    align-items: center;
    flex-wrap: wrap;
}
.balance{
    border: 1px solid #4070f4;
    border-radius: 20px;
    background-color: var(--primary-color);
    padding: 10px 70px;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    text-align: center;
    cursor: pointer;
}
.balance i{
    color: white;
}
.balance p{
    color: white;
    font-size: 20px;
    font-weight: 600;
}

.income{
    border: 1px solid #4070f4;
    border-radius: 20px;
    background-color: var(--primary-color);
    padding: 10px 65px;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    text-align: center;
    cursor: pointer;
}
.income i{
    color: white;
}
.income p{
    color: white;
    font-size: 20px;
    font-weight: 600;
}
.expense{
    border: 1px solid #4070f4;
    border-radius: 20px;
    background-color: var(--primary-color);
    padding: 10px 70px;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    text-align: center;
    cursor: pointer;
}
.expense i{
    color: white;
}
.expense p{
    color: white;
    font-size: 20px;
    font-weight: 600;
}
.income-page{
    width: 100%;
    /* height: 100vh; */
    display: flex;
    justify-content: space-around;
    margin-bottom: 15px;
}
.income-page i{
    color: var(--primary-color);
}
.income-details{
    box-sizing: border-box;
    min-width:32.5%;
    gap: 1.5rem;
    padding-top: 8rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    min-height: 100%;
    background-color: white;
}
.income-form{
    display: flex;
    gap: 2rem;
    padding-top: 2rem;
    flex-direction: column;
    color: #333;
    font-weight: 600;
}
.input-feild{
    display: flex;
    gap: 1rem;
    flex-direction: column  ;
}
.input-feild input{
    padding: 0.5rem;
    border-radius: 20px;
    border:1px solid var(--text-1);
}
.input-btn{
    text-align: center;
    color: var(--white);
}
.input-btn i{
    color: #fff;
}
button.add-inc{
    padding: 3px 5rem;
    background-color: var(--primary-color);
    color: white;
    border: 5px solid var(--primary-color);
    border-radius: 30px;
}
.heading-incomedetails{
    display: flex;
    height: 40px;
    border-bottom: 2px solid black;
    text-transform: capitalize;
    width: 100%;
    gap: 1.5rem;
    color: var(--text-1);
}
.income-history{
    box-sizing: border-box;
    min-width:32.5%;
    gap: 1.5rem;
    padding-top: 4rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    max-height: 100%;
    background-color: white;
}
.income-chart{
    min-width:32.5%;
    gap: 1.5rem;
    height: 100vh;
    padding-top: 8rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    background-color: white;
}
.heading-incomehistory{
    display: flex;
    height: 40px;
    border-bottom: 2px solid black;
    text-transform: capitalize;
    width: 100%;
    gap: 1.5rem;
    color: var(--text-1);
}
.listTrans {
    font-size: .8rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 90%;
    max-height: 100vh;
    overflow-y: scroll;
    padding: 1.5rem;
}
.listTrans li {
    list-style: none;
    background-color: var(--secondary-color);
    width: 80%;
    font-size: .8rem;
    margin: 0 auto;
    padding: .2rem .6rem;
    border-radius: 1rem;
    color: var(--white);
    font-weight: 500;
}
.listTrans li span {
    color: var(--text-1);
    font-weight: 700;
}
.heading-incomechart{
    display: flex;
    height: 40px;
    border-bottom: 2px solid black;
    text-transform: capitalize;
    width: 100%;
    gap: 1.5rem;
    color: var(--text-1);
}
@media screen and (max-width:1440px){
    .income-page{
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        margin-bottom: 20px;
    }
    .income-chart{
        min-height: 100vh;
    }
    .income-history{
        min-height: 100vh;
    }
    .input-btn{
        margin-bottom: 1rem;
    }
    .budget-inner{
        display: flex;
        flex-direction: column;
    }
    footer{
        display: none;
    }
}
.budget-inner{
    margin: 0 6px;
    display: flex;
    gap: .6rem;
    min-height:50vh ;
    margin-bottom: 1rem;
}
.budget-details{
    min-width: 33%;
    background-color: white;
    gap: 1.5rem;
    min-height: 100%;
    padding-top: 4rem;
    padding-bottom: 2rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}
.heading-budgetdetails{
    display: flex;
    height: 40px;
    border-bottom: 2px solid black;
    text-transform: capitalize;
    width: 100%;
    gap: 1.5rem;
    color: var(--text-1);
}
.heading-budgetdetails i{
    color: var(--primary-color);
}
.budget-list{
    min-width: 66.5%;
    background-color:white;
    background-color: white;
    gap: 1.5rem;
    padding-top: 4rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    min-height: 100%;
}
.heading-budgetlist{
    display: flex;
    height: 40px;
    border-bottom: 2px solid black;
    text-transform: capitalize;
    width: 100%;
    gap: 1.5rem;
    color: var(--text-1);
}
.heading-budgetlist i{
    color: var(--primary-color);
}
.budget-details-form{
    display: flex;
    gap: 2rem;
    padding-top: 2rem;
    flex-direction: column;
    color: #333;
    font-weight: 600;
}
.budget-list{
    width: 100%;
    max-height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
}
.budget-list li {
    list-style: none;
    width: 90%;
    margin: 0 auto;
    padding: .2rem .6rem;
    border-radius: 1rem;
    color: var(--text-1);
    font-weight: 500;
    /* overflow-y: scroll; */
    display: flex;
    flex-direction: column;
    justify-content: left;
}
.budget-list li .bar {
    width: 100%;
    background-color: #e6e5e5;
    padding: 0.25rem;
    height: 0.8rem;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    border-radius: 1rem;
}
.budget-list li .bar .bar-color {
    background-color: orange;
    border-radius: 1rem;
    height: 0.5rem;
}

.expense-page{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    margin-bottom: 15px;
}
.expense-page i{
    color: var(--primary-color);
}
.expense-details{
    min-width:32.5%;
    gap: 1.5rem;
    padding-top: 8rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    height: 100%;
    background-color: white;
}
.expense-form{
    display: flex;
    gap: 2rem;
    padding-top: 2rem;
    flex-direction: column;
    color: #333;
    font-weight: 600;
}
.input-feild{
    display: flex;
    gap: 1rem;
    flex-direction: column  ;
}
.input-feild input{
    padding: 0.5rem;
    border-radius: 20px;
    border:1px solid var(--text-1);
}
.input-btn{
    text-align: center;
    color: var(--white);
}
.input-btn i{
    color: #fff;
}
button.add-inc{
    padding: 3px 5rem;
    background-color: var(--primary-color);
    color: white;
    border: 5px solid var(--primary-color);
    border-radius: 30px;
}
.heading-expensedetails{
    display: flex;
    height: 40px;
    border-bottom: 2px solid black;
    text-transform: capitalize;
    width: 100%;
    gap: 1.5rem;
    color: var(--text-1);
}
.expense-history{
        min-width:32.5%;
        gap: 1.5rem;
        padding-top: 4rem;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        height: 100%;
        background-color: white;
}
.expense-chart{
    min-width:32.5%;
    gap: 1.5rem;
    height: 100vh;
    padding-top: 8rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    background-color: white;
}
.heading-expensehistory{
    display: flex;
    height: 40px;
    border-bottom: 2px solid black;
    text-transform: capitalize;
    width: 100%;
    gap: 1.5rem;
    color: var(--text-1);
}
.heading-expensechart{
    display: flex;
    height: 40px;
    border-bottom: 2px solid black;
    text-transform: capitalize;
    width: 100%;
    gap: 1.5rem;
    color: var(--text-1);
}
@media screen and (max-width:1440px){
    .expense-page{
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        margin-bottom: 20px;
    }
    .expense-chart{
        min-height: 100vh;
    }
    .expense-history{
        min-height: 100vh;
    }
    .input-btn{
        margin-bottom: 1rem;
    }
}
select{
    padding: .5rem;
    border-radius: 20px;
    border: 1px solid var(--text-1);
}
option{
    color: var(--text-1);
}

footer
{
width: 100%;
height: 50px;
background: var(--white);
text-align: center;
font-size: 20px;
}

footer a{
text-decoration: none;
}